table {
    width: 100%;
}

tr { 
	page-break-inside:avoid; 
	page-break-after:auto;
}

th {
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

th, td {
	padding-right:15px;
}

thead {
    font-size: 11px;
    text-align: left;
    display:table-header-group;
    border-bottom:1px solid black;
    
}

/*tfoot { display:table-footer-group }*/

tbody {
    font-size: 10px;
    text-align:;
}


h1 {
    font-size: 14px;
    text-align: center;
}

.cabecera {

}

.ruc {
    font-size: 10px;
    text-align: center;
    float:left;
    width:40%;
}
.representante {
    font-size: 8px;
    text-align: center;
    float:left;
    width:100%;
}
.numeroPagina {
    float: right;
    text-align: right;
    font-size: 10px;
    width:30%;
}

.fechaHora {
    font-size: 10px;
    float: left;
    width:30%;
}

.titulo {
    text-align: center;
}

.periodo {
    font-size: 10px;
    margin-bottom: 10px;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.footer td{
	font-size:16px;
	padding-bottom: 35px;
	padding-left: 10px;
	border-top: 1px solid black;
}
